<h1>Say#hello</h1>
<p>
Сейчас: <%= @time  %>
</p>
<p>
Автор: <%= @author %>
</p>
<p>
Пора сказать  <%= link_to 'до свидания', say_goodbye_path %>!
</p>

<%= 1+2 %>
<%= 'cow' +'boy' %>
<%= 2.hour.from_now %>
